body
{
	background-color: rgba(2, 20, 25, 1);
	color: white;
}

.jumbotron
{
	background-color: #0b627f;
	color: white;
}

input[type=text], input[type=password]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid white;
	box-sizing: border-box;
	color: black;
}

form button
{
	background-color: white;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover
{
	opacity: 0.8;
}

.navbar
{
	background-color: rgba(11, 98, 127, 1);
}

a
{
	color: white;
}

a:hover
{
	color: rgba(16, 165, 138, 1);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(f,f,f);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link.active
{
	color: #043647;
}

#navbar-pages-body
{
	padding-top: 70px;
}

.row.profile-thing
{
	background-color: rgba(11, 98, 127, 1);
	color: white;
	border-radius: 5px;
	margin-top: 15px;
}

.row > .section-thing
{
	padding: 20px;
}

.avatar
{
	max-width: 100%;
	max-height: 100%;
}

.row > .avatar-thing
{
	padding: 0 !important;
}

.row > .description-thing
{
	text-align: center;
}

.navbar-brand
{
	color: white;
}

.left-feed
{
	background-color: rgba(4, 54, 71, 1);
	color: white;
}

.middle-feed
{
	background-color: rgba(2, 20, 25, 1);
	background-image: url("images/bgseanew.png");
	background-size: cover;
}

.right-feed
{
	background-color: rgba(4, 54, 71, 1);
	color: white;
}

.left-feed, .middle-feed, .right-feed
{
	padding-top: 10px;
}

.container-feed
{
	margin-top: -14px;
}

.row-feed
{
	min-height: calc(100vh - 56px);
}

ul#ul-post
{
	margin-top: -10px;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 25px;
	padding-bottom: 10px;
	background-color: rgba(11, 98, 127, 0.7);
}

.div-post
{
	border: 2px solid white;
	max-width: 50%;
}

.avatar-post
{
	width: 50px;
	height: 50px;
	display: inline-block;
}

.name-post
{
	display: inline-block;
}

.li-post
{
	background-color: rgba(4, 54, 71, 1);
	color: white;
	border-radius: 5px;
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.content-col
{
	background-color: rgba(11, 98, 127, 1);
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
}

.post-img
{
	max-width: 100%;
	max-height: 100%;
}

.profile-link
{
	color: white;
}

.profile-link:hover
{
	color: rgba(16, 165, 138, 1);
}

.ad-img
{
	max-width: 100%;
	margin-bottom: 10px;
}

.logout-btn
{
	background-color: white;
	color: black;
}

.logout-btn:hover
{
	color: black;
}
